## Question 4

In [1]:
def isUpper_Or_isLower(letter):
    no_of_uppercase = 0
    no_of_lowercase = 0
    
    for letters in letter:
        if letters.isupper():
            no_of_uppercase +=1
        elif letters.islower():
            no_of_lowercase +=1
    return f"No of Uppercase: {no_of_uppercase}, No of Lowercase: {no_of_lowercase}"
    
Letter = input("Input a word: ")
print( isUpper_Or_isLower(Letter) )

Input a word: LIuGliuGliGVligklyflLUGvfKjFVKjglj
No of Uppercase: 13, No of Lowercase: 21

## Question 3

In [14]:
def cube(number):
    result = number**3
    return result

def by_three(number):
    if number % 3 == 0:
        result = cube(number)
        return result
    else:
        return False 
    
Number = int(input("Input a number: "))
print( by_three(Number) )

Input a number: 7
False

## Question 1

In [12]:
def shut_down(keyboard_input):
    if keyboard_input == "yes":
        return "Shutting down"
    elif keyboard_input == "no":
        return "Shutdown aborted"
    else:
        return "Sorry, such argument is not welcomed here"

Keyboard_input = input("Do you want to shutdown? : ")
print( shut_down(Keyboard_input) )

Do you want to shutdown? : j
Sorry, such argument is not welcomed here

## Question 2

In [9]:
import pandas as pd
from termcolor import colored
def showEmployee(name,salary):
    data = {"Name":name,
            "Salary":salary
            }
    frame = pd.DataFrame(data)
    
    frame.to_csv("Employee_register.csv", index=False)

    return frame

Name = list()
Salary = list()
for a in range(3):
    names = input("Input your name: ")
    salaries =int(input("Input your salary: "))
    if salaries > 1000000:
        Name.append(colored(names,"green"))
        Salary.append(colored(salaries,"green"))
    
    elif salaries > 500000 and salaries < 1000000:
        Name.append(colored(names,"blue"))
        Salary.append(colored(salaries,"blue"))
    
    elif salaries < 500000:
        Name.append(colored(names,"red"))
        Salary.append(colored(salaries,"red"))
    
    elif salaries == " ":
        Name.append(colored(names,"red"))
        Salary.append(colored("No salary for employee", "red"))
    

showEmployee(Name,Salary)

Input your name: george
Input your salary: 324356
Input your name: Ike
Input your salary: 2435798
Input your name: Sis
Input your salary: 3243798

              Name            Salary
0  george   324356
1     Ike  2435798
2     Sis  3243798

In [5]:
from termcolor import colored
text = colored("Hello","cyan")
print(text)

Hello